:root {
    /** colors */
    --green: rgb(23, 179, 65);
    --white: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',
        sans-serif;
}

body {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

header.flex {
    background-color: var(--green);
    height: 20vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 10px 20px;
    color: var(--white);
}

header>span {
    margin-bottom: 30px;
}

header>span>ion-icon {
    font-size: 1.5rem;
}

header>div>h3 {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 600;
}

header>div>p {
    font-size: .8rem;
    font-weight: 500;
}

.container {
    margin: 20px;
}

section {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
    max-height: 100px;
    background-color: var(--white);
    accent-color: rgb(25, 148, 60);
    padding: 10px;
}

input {
    margin-right: 5px;
}

label {
    text-transform: capitalize;
    font-size: .75rem;
    font-weight: 400;
}

.color.flex {
    flex-direction: column;
}

section>div.flex {
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

section>span {
    text-transform: capitalize;
    font-weight: 600;
    font-size: .8rem;
    padding: 0 5px;
}

.other>div>span.flex {
    justify-content: flex-start;
}

.other>div>span:nth-of-type(2) {
    width: 150px;
}

.note.flex {
    flex-direction: column;
    align-items: flex-start;
}

.note>textarea {
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.customize.flex {
    background-color: transparent;
    justify-content: flex-start;
}

.customize.flex>label {
    text-transform: capitalize;
    font-weight: 600;
    font-size: .8rem;
}

.container>div {
    width: 100%;
    height: 40px;
}

button {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border: 1.5px solid rgb(21, 110, 47);
    color: rgb(22, 111, 47);
    font-weight: 600;
    background-color: var(--white);
    text-transform: capitalize;
}